art/exploration/_resources/1_TERMINAL_SCREEN/051af0468a83026360f40c246f289a9c.jpg
art/exploration/_resources/3_SHUTDOWN_SCREEN/ae814b7eedc1e69d95e89354dc26fe21.jpg
art/exploration/_resources/1_TERMINAL_SCREEN/095f47e0ed2a888e46fa441884bdd838.jpg
art/exploration/_resources/1_TERMINAL_SCREEN/2e028f7be0c40a41351d17b3b24d6eda.jpg
*.jpg
art/exploration/_resources/1_TERMINAL_SCREEN/ncurses6-256colors-bold.png
art/exploration/_resources/3_SHUTDOWN_SCREEN/01_12_5800332.png