body{
    background-color: #1d1d1d;
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110px, -110px); 
    border: 1px solid #454545;
}

/* LINES (LATER WILL BE REMOVED, WE WILL USE ONLY PATHS) */

line{
    stroke: #454545;
    stroke-width: 4px;
}

/* normal (player can't play this line) */
line.normal{
    stroke: #454545;
}

/* hover */
line:hover{
    stroke: #f4b62f;
}

/* player can play this line */
line.available{
    stroke: #745b25;
}

/* player played this line */
line.selected{
    stroke: #f4b62f;
}

/* player already finished shape and played this line as part of it */
line.disabled{
    stroke: #242424;
}

/* PATHS */

path{
    stroke: #454545;
    stroke-width: 4px;
}

/* normal (player can't play this line) */
path.normal{
    stroke: #454545;
}

/* hover */
path:hover{
    stroke: #f4b62f;
}

/* player can play this line */
path.available{
    stroke: #745b25;
}

/* player played this line */
path.selected{
    stroke: #f4b62f;
}

/* player already finished shape and played this line as part of it */
path.disabled{
    stroke: #242424;
}